doctype html
html
 head
  meta(charset="UTF-8")
  link(href='assets/css/main.css', rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")


  block title

 body
  .wrapper
   block header
   block pagecontent
   block footer